<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Jukebox by Jurijz & Aggerzz</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Styles/main.css")" rel="stylesheet" type="text/css" />
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    @RenderSection("Styles", false)
</head>
<body style="margin: 0px; padding: 0px;">

    <div class="navbar">
        <h1>Spotify hovedopgave &copy;</h1>
        <p>By Jurijs & Christoffer</p>
    </div>
    <ul class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")"><span class="icon icon-home"></span></a>
        </li>
        @*TODO: hide Playlist from Home (make breadcrumb responsive)*@
        <li>Playlist</li>
    </ul>

    <div class="container body-content">
        @RenderBody()
    </div>
    <footer class="footer stick-bottom">
        <div class="social">
            <a class="icon-facebook-sign" href="#"></a>
            <a class="icon-instagram" href="#" style="color: #fccc63;"></a>
            <a class="icon-twitter-sign" href="#" style=" color: #1da1f2;"></a>
            <a class="icon-github" href="https://github.com/aggerzz/HovedopgaveSpotify" target="_blank" style="color:black;"></a>
            <a class="icon-youtube-sign" href="#" style="color: #bd081c;"></a>
            <a class="icon-google-plus" href="#" style="color: #db4437"></a>
            <a class="fa fa-spotify" href="#" style="color: #1db954"></a>

        </div>
        <p>&copy; @DateTime.Now.Year - <a href="">Hovedopgave</a> by Jurijs & Christoffer</p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
